@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: ;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: ;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.time-bin-15-hidden .time-bin-15 {
    @apply hidden;
}
.time-bin-60-hidden .time-bin-60 {
    @apply hidden;
}
.time-bin-240-hidden .time-bin-240 {
    @apply hidden;
}
.time-bin-720-hidden .time-bin-720 {
    @apply hidden;
}

.circle-color-sensor-1 {
    @apply text-rose-500;
}
.text-color-sensor-1 {
    @apply text-rose-700;
}
.bg-color-sensor-1 {
    @apply bg-rose-500;
}

.circle-color-sensor-2 {
    @apply text-orange-500;
}
.text-color-sensor-2 {
    @apply text-orange-700;
}
.bg-color-sensor-2 {
    @apply bg-orange-500;
}

.circle-color-sensor-3 {
    @apply text-yellow-500;
}
.bg-color-sensor-3 {
    @apply bg-yellow-500;
}
.text-color-sensor-3 {
    @apply text-yellow-700;
}

.circle-color-sensor-4 {
    @apply text-green-500;
}
.bg-color-sensor-4 {
    @apply bg-green-500;
}
.text-color-sensor-4 {
    @apply text-green-700;
}

.circle-color-sensor-5 {
    @apply text-teal-500;
}
.bg-color-sensor-5 {
    @apply bg-teal-500;
}
.text-color-sensor-5 {
    @apply text-teal-700;
}

.circle-color-sensor-6 {
    @apply text-sky-500;
}
.bg-color-sensor-6 {
    @apply bg-sky-500;
}
.text-color-sensor-6 {
    @apply text-sky-700;
}

.circle-color-sensor-7 {
    @apply text-indigo-500;
}
.bg-color-sensor-7 {
    @apply bg-indigo-500;
}
.text-color-sensor-7 {
    @apply text-indigo-700;
}

.circle-color-sensor-8 {
    @apply text-purple-500;
}
.bg-color-sensor-8 {
    @apply bg-purple-500;
}
.text-color-sensor-8 {
    @apply text-purple-700;
}

.circle-color-sensor-9 {
    @apply text-pink-500;
}
.bg-color-sensor-9 {
    @apply bg-pink-500;
}
.text-color-sensor-9 {
    @apply text-pink-700;
}

.circle-color-sensor-10 {
    @apply text-amber-500;
}
.bg-color-sensor-10 {
    @apply bg-amber-500;
}
.text-color-sensor-10 {
    @apply text-amber-700;
}

.circle-color-sensor-11 {
    @apply text-lime-500;
}
.bg-color-sensor-11 {
    @apply bg-lime-500;
}
.text-color-sensor-11 {
    @apply text-lime-700;
}

.circle-color-sensor-12 {
    @apply text-emerald-500;
}
.bg-color-sensor-12 {
    @apply bg-emerald-500;
}
.text-color-sensor-12 {
    @apply text-emerald-700;
}

.circle-color-sensor-13 {
    @apply text-cyan-500;
}
.bg-color-sensor-13 {
    @apply bg-cyan-500;
}
.text-color-sensor-13 {
    @apply text-cyan-700;
}

.circle-color-sensor-14 {
    @apply text-blue-500;
}
.bg-color-sensor-14 {
    @apply bg-blue-500;
}
.text-color-sensor-14 {
    @apply text-blue-700;
}

.circle-color-sensor-15 {
    @apply text-violet-500;
}
.bg-color-sensor-15 {
    @apply bg-violet-500;
}
.text-color-sensor-15 {
    @apply text-violet-700;
}

.circle-color-sensor-16 {
    @apply text-fuchsia-500;
}
.bg-color-sensor-16 {
    @apply bg-fuchsia-500;
}
.text-color-sensor-16 {
    @apply text-fuchsia-700;
}
